<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dynamic Router Lite II</title>
    <script src="/gridview2.js" type="text/javascript"></script>
  </head>
  <body bgcolor="#aaaaaa" id="docbody">
   <div id="nojs">
    <H3>Dynamic Router Lite II</H3>
    Please turn on javascript !!!.<br>
    <img src="/wait.png" height="120"><br>
    {% for gateway in gateway_list %}
        <img src={% if gateway.name == "parkip" %}"parkip.png"{% else %}"router.png"{% endif %} width="30" height="30" name="{{ gateway.name }}" groupaccess="{{ gateway.groupaccess }}" otheraccess="{{ gateway.otheraccess }}">
    {% endfor %}
   </div>
  </body>
</html>
