[
 {% for gateway in gateway_list %}
   {
     "id" : {{ gateway.id }}
     "groupcount" : {{ gateway.groupcount }}
     "othercount" : {{ gateway.othercount }}
     "selected" : {{ gateway.selected }}
     "specialstate" : {{ gateway.specialcase }}
   }{% if not forloop.last %},{% endif %}
 {% endfor %}
]
